.heroContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  background-color: #faeaed;
  overflow-x: hidden;
}

.logo {
  height: 45px;
  width: 45px;
  margin: 24px 0;
}

.projectTitle {
  color: #000;
  font-weight: 800;
  font-size: 24px;
}

.projectText {
  font-size: 14px;
  padding: 0.5rem 1rem 0 0;
  width: 90%;
  color: #000;
}

.tags {
  outline: none;
  border: none;
  padding: 0.6rem 0.9rem;
  border-radius: 40px;
  background: #e16e7e;
  font-weight: 500;
  font-size: 12px;
  color: white;
  margin-bottom: 1.5rem;
}

.tags:hover {
  cursor: auto;
}

.leftContainer {
  margin-left: 2rem;
  width: 100%;
}

.rightContainer {
  width: 100%;
}

.protoImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* challenge section */
.challenge {
  padding-top: 3rem;
  background-color: #fff;
}

.challengeDiv {
  margin: 0 2rem;
}

.challengeTitle {
  color: #e16e7e;
  font-weight: bold;
  font-size: 24px;
}

.challengeText {
  padding: 1rem 0.5rem 0 0;
  font-size: 14px;
  text-align: justify;
}

.imgDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.challengeImg {
  margin: 0.3rem 0 2rem 0;
  height: 300px;
}

.scopeTitle {
  color: #e16e7e;
  font-weight: bold;
  font-size: 24px;
}

.cardGroup {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
}



.card1,
.card2,
.card3,
.card4 {
  width: 99%;
  height: 200px;
  border: 1px solid #d6d5d5;
}

.cardGroup img {
  width: 45px;
  height: 45px;
}

.cardGroup h5 {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

.cardText {
  text-align: center;
  padding: 1rem 0;
  font-size: 14px;
}

.centerImg {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* design process */

.designProcess {
  margin: 3rem 0;
  background-color: #faeaed;
  width: 100%;
  height: 310px;
}

.designContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.designTitle {
  font-weight: bold;
  font-size: 24px;
  padding: 2.3rem 0 0.8rem 0;
}

.designText {
  font-size: 14px;
  padding: 0 3rem;
  text-align: center;
}

.processImg {
  height: 80px;
  margin: 1.2rem 0;
}

.defineContainer {
  margin: 2rem 0 2rem 2rem;
  display: flex;
  flex-direction: column;
}

.defineLeft {
  margin-top: 0rem;
  width: 100%;
}

.defineLeft ul {
  font-size: 14px;
}

.defineTitle {
  padding-bottom: 0.8rem;
  font-size: 24px;
}

.defineText {
  padding: 0.4rem 2rem 0 0;
  margin-right: 2rem;
  text-align: justify;
  font-size: 14px;
}

.researchFindings{
  margin: 2rem 0 2rem 2rem;
}

.researchFindingsTitle{
  font-size: 22px;
  color: #1d1617;
  font-weight: bold;
}

.researchCardGroup {
  display: flex;
  flex-direction: column;
}

.researchCard {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.defineRight {
  width: 100%;
}

.personaImg {
  margin: 2rem 0 2rem 0;
  width: 85%;
}

/* ideate */

.ideateContainer {
  margin: 2rem 0 2rem 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.ideateLeft {
  width: 100%;
}

.ideateTitle {
  font-size: 24px;
  padding-bottom: 0rem;
}

.ideateText {
  padding: 0.4rem 2rem 0 0;
  text-align: justify;
  margin-right: 2rem;
  font-size: 14px;
}

.ideateRight {
  width: 100%;
}

.brainstormingImg {
  width: 85%;
  margin: 1rem 0rem 0.8rem 0;
}

/* solution */
.solutionContainer {
  background-color: #faeaed;
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  overflow-x: hidden;
}

.solutionLeft,
.solutionRight {
  margin: 1rem 2rem;
}

.solutionLeft {
  margin-top: 3rem;
  width: 100%;
}

.solutionRight {
  width: 100%;
}

.solutionRight img {
  width: 80%;
}

.solutionTitle {
  padding-bottom: 1rem;
  color: #000;
  font-size: 20px;
}

.solutionText {
  font-size: 14px;
  padding-right: 1.8rem;
  margin-right: 1.8rem;
  text-align: justify;
}

/* Functional Specs */

.functionalSpecs {
  margin: 2rem 2rem;
}

.functionalSpecs h3 {
  font-weight: 600;
  font-size: 18px;
  padding: 0.3rem 0 0.6rem 0;
}

.functionalSpecs p {
  font-size: 14px;
  padding-bottom: 0.5rem;
  margin-right: 1rem;
  text-align: justify;
}

.specDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1rem 0;
}

.specImg {
  width: 96%;
}

.resumeBtn {
  font-size: 0.9rem;
  outline: none;
  letter-spacing: 0.02em;
  color: #fafafa;
  background-image: linear-gradient(to right, #56ccf2, #00a5f7);
  border: none;
  border-radius: 5px;
  margin-top: 0.5rem;
  margin-bottom: 1.8rem;
  padding: 0.9rem 1.1rem;
}

.resumeBtn:hover {
  background-image: linear-gradient(to right, #7ec9e2, #26a3e2);
}

/* prototyping */

.prototyping {
  background-color: #f5f5f5;
}

.prototypingContainer {
  margin: 1rem 2rem;
  padding: 3rem 0 3rem 0;
}

.prototypingTitle {
  padding-bottom: 1rem;
  color: #e16e7e;
  font-weight: bold;
  font-size: 24px;
}

.prototypingText{
  font-size: 14px;
  text-align: justify;
}

.onboardingImg {
  margin: 1rem 0;
  width: 100%;
}

.interfaceTitle{
  font-size: 24px;
  font-weight: bold;
  padding: 2rem 0 1.2rem 0;
}

.interfaceText{
  font-size: 14px;
}

.interfaceImg{
  width: 100%;
}


/* implementation section */
.implementationContainer{
  margin: 5rem 2rem;
}

.implementationTitle {
  padding-bottom: 1rem;
  color: #e16e7e;
  font-weight: bold;
  font-size: 24px;
}

.implementationContainer p{
  font-size: 14px;
}


.gifContainer{
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gifContainer h1{
  font-size: 24px;
  font-weight: bold;
  color: #e16e7e;
  padding: 2rem 0 .8rem 0;
}

.gifContainer p{
  padding: .5rem 1.5rem 1rem 1.5rem ;
  font-size: 14px;
  text-align: center;
}

.interfaceGif{
  width: 100%;
}

.prototypeFrame{
  display: flex;
  justify-content: center;
  align-items: center;
}

.protoFrame{
  margin-top: 2rem;
  margin-bottom: 1.3rem;
  border: 1px solid #DEDEDE; 
  background-color: rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 550px;
}


@media screen and (min-width: 768px) {
  .heroContainer {
    display: flex;
    flex-direction: row;
    margin-top: 0.7rem;
    background-color: #faeaed;
    width: 100%;
    height: 650px;
    overflow: hidden;
  }

  .leftContainer {
    margin-top: 5rem;
    margin-left: 5rem;
    width: 45%;
  }

  .logo {
    margin-bottom: 3.8rem;
  }

  .projectTitle {
    font-size: 46px;
    color: #000;
  }

  .projectText {
    font-size: 20px;
    padding-top: 1.5rem;
    width: 100%;
    padding-bottom: 1.5rem;
    color: #000;
  }

  .tags {
    outline: none;
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 40px;
    background: #e16e7e;
    font-weight: 500;
    font-size: 13px;
    color: white;
  }

  .tags:hover {
    cursor: auto;
  }

  .rightContainer {
    width: 55%;
  }

  .protoImg {
    width: 100%;
  }

  /* challenge section */
  .challenge {
    padding-top: 4rem;
    background-color: #fff;
  }

  .challengeDiv {
    margin: 2rem 10rem 1rem 10rem;
  }

  .challengeTitle {
    color: #e16e7e;
    font-weight: bold;
    font-size: 32px;
  }

  .challengeText {
    padding: 1rem 0;
    text-align: justify;
    font-size: 16px;
  }

  .imgDiv {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .challengeImg {
    margin: 3rem 0;
    width: auto;
    height: auto;
  }

  /* Scope */

  .scopeTitle {
    color: #e16e7e;
    font-weight: bold;
    font-size: 32px;
  }

  .cardGroup {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
  }

  .card1,
  .card2,
  .card3,
  .card4 {
    margin: 2rem 0;
    width: 24%;
    height: 300px;
    border: 1px solid #f5f2f2;
    border-radius: 6px;
  }

  .card1:hover,
  .card2:hover,
  .card3:hover,
  .card4:hover {
    transform: scale(1.01);
  }

  .cardGroup img {
    width: 55px;
    height: 55px;
  }

  .centerImg {
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cardGroup h5 {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
  }

  .cardText {
    font-size: 16px;
    text-align: center;
  }

  /* design process */

  .designProcess {
    margin: 3rem 0;
    width: 100%;
    height: 520px;
  }

  .designContainer {
    background-color: #faeaed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .designTitle {
    font-weight: bold;
    font-size: 28px;
    padding: 4rem 0 1rem 0;
  }

  .processImg {
    height: 200px;
    margin: 2rem 0;
  }

  /* design process */

  .designText {
    font-size: 16px;
    padding: 0rem;
  }

  .defineContainer {
    margin: 2rem 10rem 1rem 10rem;
    display: flex;
    flex-direction: row;
  }

  .defineLeft {
    margin-top: 4rem;
    width: 48%;
  }

  .defineLeft ul {
    font-size: 16px;
  }

  .defineTitle {
    padding-bottom: 1rem;
    font-size: 28px;
    color: #e16e7e;
  }

  .defineText {
    padding: 0.6rem 5rem 0 0;
    text-align: justify;
    font-size: 16px;
  }

  .researchCardGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .researchCard {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .defineRight {
    width: 52%;
  }

  .researchFindings{
    margin: 2rem 10rem 1rem 10rem;
  }

  .researchFindingsTitle{
    font-size: 24px;
    color: #e16e7e;
    font-weight: bold;
  }

  .personaImg {
    width: 90%;
  }

  /* ideate */

  .ideateContainer {
    margin: 4rem 10rem 1rem 10rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: row;
  }

  .ideateLeft {
    width: 50%;
  }

  .ideateTitle {
    padding-bottom: 1rem;
    font-size: 28px;
    color: #e16e7e;
  }

  .ideateText {
    padding: 0.6rem 5rem 0 0;
    text-align: justify;
    font-size: 16px;
    width: 100%;
  }

  .ideateRight {
    margin-top: 4rem;
    width: 50%;
  }

  .brainstormingImg {
    width: 90%;
    margin-top: 1rem;
  }

  /* solution */
  .solutionContainer {
    background-color: #faeaed;
    display: flex;
    flex-direction: row;
    margin: 2rem 0;
  }

  .solutionLeft,
  .solutionRight {
    margin: 5rem 10rem;
  }

  .solutionLeft {
    margin-top: 12rem;
    width: 60%;
  }

  .solutionRight {
    width: 40%;
  }

  .solutionRight img {
    width: 100%;
  }

  .solutionTitle {
    padding-bottom: 1.7rem;
    color: #000;
    font-size: 24px;
  }

  .solutionText {
    font-size: 20px;
    text-align: left;
  }

  /* Functional Specs */

  .functionalSpecs {
    margin: 4rem 10rem 1rem 10rem;
  }

  .functionalSpecs h3 {
    font-weight: 600;
    font-size: 24px;
    padding: 0.5rem 0 1.2rem 0;
  }

  .functionalSpecs p {
    font-size: 16px;
    padding-bottom: 0.7rem;
  }

  .specDiv {
    display: flex;
    flex-direction: row;
    margin: 2rem 0;
  }

  .specImg {
    width: 30%;
  }

  /* prototyping */

  .prototyping {
    background-color: #fafafa;
  }

  .prototypingContainer {
    margin: 4rem 10rem 1rem 7rem;
    padding: 5rem 0 2rem 0;
  }

  .resumeBtn {
    font-size: 0.9rem;
    outline: none;
    letter-spacing: 0.02em;
    margin: 1rem 0;
    border: none;
    padding: 1rem 1.7rem;
    border-radius: 8px;
  }

  .prototypingTitle {
    padding-bottom: 1rem;
    color: #e16e7e;
    font-weight: bold;
    font-size: 28px;
  }

  .prototypingText{
    font-size: 16px;
  }

  .onboardingText{
    font-size: 16px;
  }

  .onboardingImg {
    width: 21%;
    margin: 1rem 0rem;
  }

  .interfaceTitle{
    font-size: 26px;
    font-weight: bold;
    padding: 4rem 0 1rem 0;
  }

  .interfaceText{
    font-size: 16px;
  }

  .interfaceImg{
    width: 100%;
    height: 10%;
  }


  /* implementation section */
  .implementationContainer{
    margin: 4rem 10rem 1rem 10rem;
  }

  .implementationTitle {
    padding-bottom: 1rem;
    color: #e16e7e;
    font-weight: bold;
    font-size: 28px;
  }

  .gifContainer{
    margin-top: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .gifContainer h1{
    font-size: 28px;
    font-weight: bold;
    color: #e16e7e;
    padding: 2rem 0 1rem 0;
  }

  .gifContainer p{
    padding-bottom: 1rem;
    font-size: 16px;
  }
  .prototypeFrame{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .protoFrame{
    border: 1px solid #DEDEDE; 
    background-color: rgba(0, 0, 0, 0.1);
    width: 1100px;
    height: 750px;
  }




}
