.heroContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  background-color: #d8eeea;
  overflow-x: hidden;
}

.tags {
  outline: none;
  border: none;
  padding: 0.6rem 0.9rem;
  border-radius: 40px;
  background: #41a695;
  font-weight: 500;
  font-size: 12px;
  color: white;
  margin-bottom: 1.5rem;
}

.tags:hover {
  cursor: auto;
}

.projectTitle {
  color: rgb(26, 25, 25);
  font-weight: 800;
  font-size: 24px;
}

.projectText {
  font-size: 14px;
  padding: 0.5rem 1rem 0 0;
  width: 90%;
  color: #000;
}

a{
  color: #38b5ba;
  font-weight: bold;
}

.leftContainer {
  margin-left: 2rem;
  width: 100%;
  margin-top: 2rem;
}

.rightContainer {
  width: 100%;
}

.protoImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* challenge section */
.challenge {
  padding-top: 3rem;
  background-color: #fff;
}

.challengeDiv {
  margin: 0 2rem;
}

.challengeTitle {
  color: #41a695;
  font-weight: bold;
  font-size: 24px;
}

.challengeText {
  padding: 1rem 0.5rem 0 0;
  font-size: 14px;
  text-align: justify;
}

.imgDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.challengeImg {
  margin: 1rem 0rem;
  height: 15vh;
}

.scopeTitle {
  color: #41a695;
  font-weight: bold;
  font-size: 24px;
}

.cardGroup {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
}

.card1,
.card2,
.card3,
.card4 {
  width: 99%;
  height: 200px;
  border: 1px solid #d6d5d5;
}

.cardGroup img {
  width: 45px;
  height: 45px;
}

.cardGroup h5 {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

.cardText {
  text-align: center;
  padding: 1rem 0;
  font-size: 13px;
}

.centerImg {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.problemContainer {
  margin-top: 2.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d8eeea;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.problemContainer img{
  margin: .7rem 0;
  height: 50px;
  width: auto;
}

.problemTitle {
  font-size: 24px;
  font-weight: bold;
  color: rgb(26, 25, 25);
}

.problemText {
  padding-top: 1rem;
  font-size: 15.5px;
  text-align: center;
  width: 80%;
  color: #000;
}

.design {
  margin: 3rem 0;
}

.designContainer {
  margin: 1.5rem 2rem;
}

.designTitle {
  font-weight: bold;
  color: #41a695;
  font-size: 24px;
  padding-bottom: 0.5rem;
}

.designText {
  font-size: 14px;
}

.defineContainer {
  margin: 2rem 2rem;
  display: flex;
  flex-direction: column;
}

.defineLeft {
  margin: 2rem 0 2rem 0;
  width: 100%;
}

.defineTitle {
  padding-bottom: 0.75rem;
  font-size: 24px;
  color: #41a695;
}

.defineText {
  padding: 0.5rem 1rem 0 0;
  text-align: justify;
  font-size: 14px;
}

.defineRight {
  width: 100%;
}

.personaImg {
  width: 100%;
}

.researchContainer {
  margin: 2rem 2rem;
}

.researchTitle {
  font-size: 16px;
  font-weight: bold;
}

.researchText {
  font-size: 14px;
  padding-bottom: 1rem;
}

.researchCardGroup {
  display: flex;
  flex-direction: column;
}

.researchCard {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.researchCard p{
  color: #fafafa;
}


@media screen and (min-width: 768px) {
  .heroContainer {
    display: flex;
    flex-direction: row;
    margin-top: 0.7rem;
    width: 100%;
    height: 550px;
    overflow: hidden;
  }

  .leftContainer {
    margin-top: 8.5rem;
    margin-left: 5rem;
    width: 45%;
  }

  .logo {
    margin-bottom: 3.8rem;
  }

  .projectTitle {
    font-size: 46px;
    color: rgb(26, 25, 25);
  }

  .projectText {
    font-size: 20px;
    padding-top: 1.5rem;
    width: 100%;
    padding-bottom: 1.5rem;
    color: #000;
  }

  .tags {
    outline: none;
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 40px;
    background: #41a695;
    font-weight: 500;
    font-size: 13px;
    color: white;
  }

  .tags:hover {
    cursor: auto;
  }

  .rightContainer {
    width: 55%;
    
  }

  .protoImg {
    width: 100%;
  }

  /* challenge section */
  .challenge {
    padding-top: 4rem;
    background-color: #fff;
  }

  .challengeDiv {
    margin: 2rem 10rem 1rem 10rem;
  }

  .challengeTitle {
    color: #41a695;
    font-weight: bold;
    font-size: 32px;
  }

  .challengeText {
    padding: 1rem 0;
    text-align: justify;
    font-size: 16px;
  }

  .imgDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .challengeImg {
    margin: 3rem 0;
    width: auto;
    height: auto;
  }

  /* Scope */

  .scopeTitle {
    color: #41a695;
    font-weight: bold;
    font-size: 32px;
  }

  .cardGroup {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
  }

  .card1,
  .card2,
  .card3,
  .card4 {
    margin: 2rem 0;
    width: 24%;
    height: 300px;
    border: 1px solid #f5f2f2;
    border-radius: 6px;
  }

  .card1:hover,
  .card2:hover,
  .card3:hover,
  .card4:hover {
    transform: scale(1.01);
  }

  .cardGroup img {
    width: 55px;
    height: 55px;
  }

  .centerImg {
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cardGroup h5 {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
  }

  .cardText {
    font-size: 15px;
    text-align: center;
    padding: .9rem 1rem;
  }

  a{
      color: #38b5ba;
      font-weight: bold;
  }

  .problemContainer {
    margin: 2rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d8eeea;
    width: 100%;
    height: 400px;
    overflow: hidden;
  }

  .problemContainer img{
    margin: .7rem 0;
    height: 80px;
    width: auto;
  }

  .problemTitle {
    font-size: 28px;
    font-weight: bold;
    color: rgb(26, 25, 25);
    padding-bottom: 1.5rem;
  }

  .problemText {
    font-size: 18px;
    text-align: center;
    width: 60%;
    color: rgb(26, 25, 25);
  }

  .designContainer {
    margin: 4rem 10rem 1rem 10rem;
  }

  .designTitle {
    font-weight: bold;
    color: #41a695;
    font-size: 28px;
    padding-bottom: 0.8rem;
  }

  .designText {
    font-size: 16px;
  }

  .defineContainer {
    margin: 4rem 0;
    display: flex;
    flex-direction: row;
  }

  .researchCardGroup {
    margin-top: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .toolsIcon{
    height: 45px;
    width: 45px;
    margin: 1rem 0;
  }


  .researchCard {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .researchCard p{
    color: #fafafa;
    font-weight: 500;
    font-size: .95rem;
  }

  .researchTitle {
    font-size: 20px;
    font-weight: bold;
  }
  .methodologyLeft h5{
    padding: .5rem 0;
  }

  .methodologyDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0rem;
  }

  .methodologyImg{
    height: auto;
    width: 320px;
    margin: 2rem 5rem;
  }

  .ecosystemImg{
    height: auto;
    width: 850px;
    margin: 2rem 0rem;
  }

  .journeyMaps{
    margin: 1.5rem 0;
  }
  
}
