.contact {
    margin-top: 3rem;
    background-image: linear-gradient(to right, #39c3f1, #26a3e2);
  }
  
  .contactContainer {
    margin-left: 2.3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .contactTitle {
    font-size: 1.3rem;
    letter-spacing: 0.03em;
    color: #fff;
    font-weight: bold;
    padding: 2rem 0 1rem 0;
  }
  
  .contactText{
    font-size: 16px;
    color: #fff;
    margin-right: 2.3rem;
  }
  
  .emailText {
    font-size: 1.1rem;
    color: #fff;
    letter-spacing: 0.02em;
  }
  
  .socialCircles {
    display: flex;
    flex-direction: row;
    padding: 0 0 2rem 0;
  }
  
  .linkedinCircle {
    background-color: #deecf3;
    padding: 0.7rem;
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
  }
  
  .linkedinImage {
    height: 1.25rem;
    background: none;
    text-align: center;
    vertical-align: middle;
  }
  
  .githubCircle {
    background-color: #dbdbdb;
    padding: 0.7rem;
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
  }
  
  .githubImage {
    height: 1.5rem;
    background: none;
  }
  
  .dribbbleCircle {
    background-color: #fdecf2;
    padding: 0.8rem;
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
  }
  
  .dribbbleImage {
    height: 1.4rem;
    background: none;
  }
  
  .socialMedia div {
    margin: 0.4rem 1.1rem;
  }
  
  .copyRight {
    margin-right: 2.3rem;
    font-size: 0.85rem;
    padding-bottom: 0.7rem;
    color: #fff;
  }

@media only screen and (min-width: 768px){
    .contact {
        margin-top: 4rem;
        background-color: #00a5f7;
      }
    
      .contactContainer {
        margin: 4rem 10rem 1rem 10rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
    
      .contactTitle {
        font-size: 2rem;
        letter-spacing: 0.03em;
        color: rgb(255, 251, 251);
        font-weight: bold;
        padding-top: 2.5rem;
        padding-bottom: 0.5rem;
      }
    
      .contactText {
        padding: 0.8rem 0;
        color: #fff;
        font-size: 16px;
      }
    
      .emailText {
        font-size: 16px;
        color: #fff;
        font-weight: bold;
        text-decoration: underline;
      }
    
      .socialCircles {
        display: flex;
        flex-direction: row;
        padding: 0 0 2rem 0;
      }
    
      .linkedinCircle {
        background-color: #fff;
        padding: 1.3rem;
        height: 4.3rem;
        width: 4.3rem;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
      }
    
      .linkedinCircle:hover {
        background-color: rgb(240, 240, 240);
        cursor: pointer;
      }
    
      .linkedinImage {
        height: 1.5rem;
        background: none;
        text-align: center;
        vertical-align: middle;
      }
    
      .githubCircle {
        background-color: #fff;
        padding: 1.15rem;
        height: 4.3rem;
        width: 4.3rem;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
      }
    
      .githubCircle:hover {
        background-color: rgb(240, 240, 240);
        cursor: pointer;
      }
    
      .githubImage {
        height: 2rem;
        background: none;
      }
    
      .dribbbleCircle {
        background-color: #fff;
        padding: 1.15rem;
        height: 4.3rem;
        width: 4.3rem;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
      }
    
      .dribbbleCircle:hover {
        background-color: rgb(240, 240, 240);
        cursor: pointer;
      }
    
      .dribbbleImage {
        height: 2rem;
        background: none;
      }
    
      .socialMedia div {
        margin: 0.4rem 1.1rem;
      }
    
      .copyRight {
        font-size: 14px;
        font-weight: bold;
        color: #fff;
      }

}

/* for screens smaller than 400px */

@media only screen and (max-width: 400px){
    .socialMedia{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 1.5rem;   
    }
}

@media screen and (max-width: 1200px) and (min-width: 700px) {
  .contact {
    margin-top: 3rem;
    background-image: linear-gradient(to right, #39c3f1, #26a3e2);
  }
  
  .contactContainer {
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

}