.socialMedia{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;   
}

.linkedinCircle{
    background-color: #deecf3;
    padding: .7rem;
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 50%; 
    text-align: center;
    vertical-align: middle;
}


.linkedinImage{
    height: 1.25rem;
    background: none;  
    text-align: center;
    vertical-align: middle;
}

.githubCircle{
    background-color: #DBDBDB;
    padding: .7rem;
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}

.githubImage{
    height: 1.5rem;
    background: none;
}

.dribbbleCircle{
    background-color: #FDECF2;
    padding: .8rem;
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}

.dribbbleImage{
    height: 1.4rem;
    background: none;
}

.socialMedia div{
    margin: .4rem 1.1rem;
}

.copyRight{
    text-align: center;
    font-size: .85rem;
    padding-bottom: .7rem;
    color: #2d3133;
}

@media only screen and (min-width: 768px){
    .socialMedia{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 3rem;
        
    }

    .linkedinCircle{
        background-color: #deecf3;
        padding: 1.3rem;
        height: 4.3rem;
        width: 4.3rem;
        border-radius: 50%; 
        text-align: center;
        vertical-align: middle;
    }

    .linkedinCircle:hover{
        background-color: #c1e4f3;
        cursor: pointer;
    }

    
    .linkedinImage{
        height: 1.5rem;
        background: none;  
        text-align: center;
        vertical-align: middle;
    }

    .githubCircle{
        background-color: #DBDBDB;
        padding: 1.15rem;
        height: 4.3rem;
        width: 4.3rem;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
    }

    .githubCircle:hover{
        background-color: #e9e7e7;
        cursor: pointer;
    }

    .githubImage{
        height: 2rem;
        background: none;
    }

    .dribbbleCircle{
        background-color: #FDECF2;
        padding: 1.2rem;
        height: 4.3rem;
        width: 4.3rem;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
    }

    .dribbbleCircle:hover{
        background-color: #fcd6e4;
        cursor: pointer;
    }

    .dribbbleImage{
        height: 2rem;
        background: none;
    }

    .socialMedia div{
        margin: .4rem 1.1rem;
    }

    .copyRight{
        text-align: center;
        font-size: .95rem;
        color: #2d3133;
    }

}

/* for screens smaller than 400px */

@media only screen and (max-width: 400px){
    .socialMedia{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 1.5rem;   
    }
}