@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
*{
    margin: 0px;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('./fonts/helvetica-neue-55-cufonfonts/HelveticaNeue-Light.otf');
}

/* mobile first */

::selection {
    color: #fff;
    background: #00a5f7;
}


.heroSection{

    margin-top: 2rem;

}

.heroContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.helloTitle{
    padding-top: 1rem;
    font-size: 1.7rem;
}


.fancyTitle{
    font-family: 'Rouge Script', cursive;
    font-size: 2.3rem;
    font-weight: 400;
    letter-spacing: .01em;
}

.jobTitle{
    font-size: 1.2rem;
    width: 80%;
    font-weight: 400;
    text-align: center;
    padding: .8rem 0;
}

.missionText{
    font-size: .9rem;
    color: #586066;
    letter-spacing: .01em; 
    text-align: center;
    width: 90%;
}

.mainImg{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    margin: auto;
    display: block;
}


.resumeBtn{
    font-size: .8rem;
    outline: none;
    letter-spacing: .02em;
    color: #fff;
    background-color: #00a5f7;
    border: none;
    border-radius: 5px;
    margin-top: .5rem;
    margin-bottom: 1.8rem;
    padding: .9rem 1.1rem;


}

.resumeBtn:hover{
    border: 1px solid #00a5f7;
    background-color: #f4f4f4;
    color: #00a5f7;
    transition: .7s ease-out;

}

.horizLine{
    margin-top: 2.3rem;
    margin-left: 2.6rem;
    margin-right: 1.7rem;
}

.portfolio{
    margin: 2rem 2.6rem;
}

.latestTitle{
    color: #00a5f7;
    font-weight: 600;
    font-size: 1.7rem;
    padding-bottom: .4rem;
    letter-spacing: .02rem;
}

.caseTitle{
    color: #080420;
    font-size: 1.4rem;
    letter-spacing: .02rem;
}

.horizLine2{
    width: 96%;
    margin-top: 4rem;
}

/* contact area */

.contact{
    margin-top: 3rem;
}

.contactContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.contactTitle{
    font-size: 1.6rem;
    letter-spacing: .05em;
    color: #00a5f7;
    font-weight: bold;
    padding-bottom: .2rem;
}

.emailText{
    font-size: 1.1rem;
    color: #080420;
    letter-spacing: .02em;
    padding-bottom: .9rem;
}

.phoneNumberText{
    font-size: .9rem;
    letter-spacing: .05em;
    color: #080420;
    padding-bottom: 2rem;
}

.socialMedia{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;   
}

.linkedinCircle{
    background-color: #deecf3;
    padding: .8rem;
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 50%; 
    text-align: center;
    vertical-align: middle;
}


.linkedinImage{
    height: 1.25rem;
    background: none;  
    text-align: center;
    vertical-align: middle;
}

.githubCircle{
    background-color: #DBDBDB;
    padding: .8rem;
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}

.githubImage{
    height: 1.5rem;
    background: none;
}

.dribbbleCircle{
    background-color: #FDECF2;
    padding: .8rem;
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}

.dribbbleImage{
    height: 1.4rem;
    background: none;
}

.socialMedia div{
    margin: .4rem 1.1rem;
}

.copyRight{
    text-align: center;
    font-size: .95rem;
    color: #2d3133;
}

/* For Dekstop Screens */

@media only screen and (min-width: 768px){


    ::-webkit-scrollbar {
        width: 7px;
    }
      
      /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
       
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #00a5f7; 
        border-radius: 5px;
    }
      
      /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #007fbe; 
    }

    .heroSection{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .helloTitle{
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: .02em;
        font-weight: 500;
        padding: .8rem 0;
    }

    .fancyTitle{
        font-family: 'Rouge Script', cursive;
        font-size: 2.5rem;
        letter-spacing: .02em;
        font-weight: 500;
    }

    .jobTitle{
        font-size: 1.5rem;
        font-weight: 400;
        text-align: center;
        padding: .8rem 0;
    }

    .missionText{
        font-size: 1.1rem;
        color: #586066;
        letter-spacing: .01em; 
        text-align: center;
        width: 80%;
    }

    .resumeBtn{
        font-size: .9rem;
        outline: none;
        letter-spacing: .02em;
        margin-top: 1rem;

    }

    .resumeBtn{
        background-color: #00a5f7;
        margin-right: 2rem;
        border: none;
        padding: 1rem 1.4rem;
        border-radius: 5px;
    }

    .resumeBtn:hover{
        border: 1px solid #00a5f7;
        background-color: #f4f4f4;
        color: #00a5f7;
        transition: .4s ease-in;
    }

    .mainImg{
        height: 180px;
        width: 180px;
        border-radius: 50%;
        margin: auto;
        display: block;

    }

    .horizLine{
        margin-top: 2rem;
        margin-left: 12.5rem;
        margin-right: 15.2rem;
    }

    ::selection {
        color: #fff;
        background: #00a5f7;
    }

    .portfolio{
        margin: 4rem 12.3rem;
    }

    .latestTitle{
        color: #00a5f7;
        font-weight: bold;
        font-size: 1.9rem;
        padding-bottom: 1rem;
        letter-spacing: .03rem;
    }

    .caseTitle{
        color: #080420;
        font-size: 1.6rem;
        letter-spacing: .02rem;
    }

    .horizLine2{
        width: 96%;
        margin-top: 4rem;
    }

    .contact{
        margin-top: 5rem;
        
    }

    .contactContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .contactTitle{
        font-size: 1.9rem;
        letter-spacing: .03em;
        color: #00a5f7;
        font-weight: bold;
        padding-bottom: .5rem;
    }

    .emailText{
        font-size: 1.5rem;
        color: #080420;
        letter-spacing: .02em;
        padding-bottom: .8rem;
    }

    .phoneNumberText{
        font-size: 1.2rem;
        letter-spacing: .03em;
        color: #080420;
        padding-bottom: 2rem;
    }

    .socialMedia{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 3rem;
        
    }

    .linkedinCircle{
        background-color: #deecf3;
        padding: 1.3rem;
        height: 4.3rem;
        width: 4.3rem;
        border-radius: 50%; 
        text-align: center;
        vertical-align: middle;
    }

    
    .linkedinImage{
        height: 1.5rem;
        background: none;  
        text-align: center;
        vertical-align: middle;
    }

    .githubCircle{
        background-color: #DBDBDB;
        padding: 1.15rem;
        height: 4.3rem;
        width: 4.3rem;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
    }

    .githubImage{
        height: 2rem;
        background: none;
    }

    .dribbbleCircle{
        background-color: #FDECF2;
        padding: 1.2rem;
        height: 4.3rem;
        width: 4.3rem;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
    }

    .dribbbleImage{
        height: 2rem;
        background: none;
    }

    .socialMedia div{
        margin: .4rem 1.1rem;
    }

    .copyRight{
        text-align: center;
        font-size: .95rem;
        color: #2d3133;
    }


    
    

    /* .trial{
        position: absolute;
        width: 1532.25px;
        height: 596px;
        left: calc(50% - 1532.25px/2 + 0.5px);
        top: calc(50% - 596px/2);

        font-family: Syne;
        font-style: normal;
        font-weight: bold;
        font-size: 150.104px;
        line-height: 597px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #717A81;
        opacity: .1;

        mix-blend-mode: multiply;
    } */
    
}
