@import url("https://fonts.googleapis.com/css2?family=Outfit&family=Urbanist&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");



* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "GTWalsheim";
}

/* mobile first */

.heroSection {
  margin-top: 2rem;
}

.heroContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.helloTitle {
  padding-top: 1.5rem;
  font-size: 1.7rem;
}

.fancyTitle {
  font-family: "Rouge Script", cursive;
  font-size: 2.3rem;
  font-weight: 400;
  letter-spacing: 0.01em;
}

.jobTitle {
  font-size: 1.1rem;
  width: 80%;
  font-weight: 400;
  text-align: center;
  padding: 0.8rem 0;
}

.missionText {
  font-size: 0.9rem;
  padding-bottom: 0.8rem;
  color: #586066;
  letter-spacing: 0.01em;
  text-align: center;
  width: 90%;
}

.mainImg {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  margin: auto;
  display: block;
}

.des1 {
  height: 0px !important;
}

.resumeBtn {
  font-size: 0.9rem;
  font-weight: bold;
  outline: none;
  letter-spacing: 0.02em;
  color: #fafafa;
  background-image: linear-gradient(to right, #56ccf2, #00a5f7);
  border: none;
  border-radius: 5px;
  margin-top: 0.5rem;
  margin-bottom: 1.8rem;
  padding: 0.9rem 1.1rem;
}

.resumeBtn:hover {
  background-image: linear-gradient(to right, #7ec9e2, #26a3e2);
}

.calendlyBtn {
  margin-left: 1.75rem;
  border: none;
  outline: none;
  background: none;
  font-size: 0.9rem;
  font-weight: 500;
}

.calendlyBtn:hover {
  color: #007fbe;
}

.horizLine {
  margin-top: 2.3rem;
  margin-left: 2.6rem;
  margin-right: 1.7rem;
}

.portfolio {
  margin: 2rem 2.6rem;
}

.latestTitle {
  color: #00a5f7;
  font-weight: 600;
  font-size: 1.3rem;
  padding-bottom: 0.4rem;
  letter-spacing: 0.02rem;
}

.caseTitle {
  color: #080420;
  font-size: 1rem;
  letter-spacing: 0.02rem;
}

/* projects */
.projectBlock {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.leftProject {
  width: 100%;
}

.rightProject {
  padding-top: 1.4rem;
  width: 100%;
}
.bannerImg {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.projectTitle {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 24px;
  font-weight: bold;
  color: #00a5f7;
}

.projectDescription {
  color: #1d1e1f;
  font-size: 13px;
  text-align: justify;
}

/* contact area */

.contact {
  margin-top: 3rem;
  background-image: linear-gradient(to right, #39c3f1, #26a3e2);
}

.contactContainer {
  margin-left: 2.3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.contactTitle {
  font-size: 1.3rem;
  letter-spacing: 0.03em;
  color: #fff;
  font-weight: bold;
  padding: 2rem 0 1rem 0;
}

.contactText {
  font-size: 16px;
  color: #fff;
  margin-right: 2.3rem;
}

.emailText {
  font-size: 1.1rem;
  color: #fff;
  letter-spacing: 0.02em;
}

.socialCircles {
  display: flex;
  flex-direction: row;
  padding: 0 0 2rem 0;
}

.linkedinCircle {
  background-color: #deecf3;
  padding: 0.7rem;
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
}

.linkedinImage {
  height: 1.25rem;
  background: none;
  text-align: center;
  vertical-align: middle;
}

.githubCircle {
  background-color: #dbdbdb;
  padding: 0.7rem;
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
}

.githubImage {
  height: 1.5rem;
  background: none;
}

.dribbbleCircle {
  background-color: #fdecf2;
  padding: 0.8rem;
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
}

.dribbbleImage {
  height: 1.4rem;
  background: none;
}

.socialMedia div {
  margin: 0.4rem 1.1rem;
}

.copyRight {
  margin-right: 2.3rem;
  font-size: 0.85rem;
  padding-bottom: 0.7rem;
  color: #fff;
}

/* For Dekstop Screens */

@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 7px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #00a5f7;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #007fbe;
  }

  .heroSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
  }

  .helloTitle {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.02em;
    font-weight: 500;
    padding-top: 2rem;
  }

  .fancyTitle {
    font-family: "Rouge Script", cursive;
    font-size: 2.5rem;
    letter-spacing: 0.02em;
    font-weight: 500;
  }

  .jobTitle {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
  }

  .missionText {
    font-size: 1.1rem;
    color: #586066;
    letter-spacing: 0.01em;
    text-align: center;
    width: 80%;
  }

  .resumeBtn {
    font-size: 0.9rem;
    font-weight: bold;
    outline: none;
    letter-spacing: 0.02em;
    margin-top: .75rem;
    border: none;
    padding: .85rem 2rem;
    border-radius: 8px;
  }

  .calendlyBtn {
    font-size: 1rem;
  }

  .mainImg {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    margin: auto;
    display: block;
  }

  .desContainer {
    float: right;
  }

  .des1 {
    height: 265.34px;
    width: 132.67px;
  }

  .horizLine {
    margin-top: 2rem;
    margin-left: 12.5rem;
    margin-right: 15.2rem;
  }

  ::selection {
    color: #fff;
    background: #00a5f7;
  }

  .portfolio {
    margin: 4rem 12.3rem;
  }

  .latestTitle {
    color: #00a5f7;
    font-weight: bold;
    font-size: 1.9rem;
    padding-bottom: 1rem;
    letter-spacing: 0.03rem;
  }

  .text{
    padding-top: 15rem;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .caseTitle {
    color: #080420;
    font-size: 1.6rem;
    letter-spacing: 0.02rem;
    padding-bottom: 2rem;
  }

  /* projects */
  .projectBlock {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
  }

  .leftProject {
    width: 50%;
  }

  .rightProject {
    padding-top: 3rem;
    width: 50%;
  }
  .bannerImg {
    width: 87.5%;
    border-radius: 8px;
    margin-bottom: 2rem;
  }

  .projectTitle {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    font-size: 32px;
    font-weight: bold;
    color: #00a5f7;
  }

  .projectDescription {
    color: #1d1e1f;
    font-size: 16px;
  }

  /* contact */

  .contact {
    margin-top: 4rem;
    background-color: #00a5f7;
  }

  .contactContainer {
    margin-left: 12.3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .contactTitle {
    font-size: 2rem;
    letter-spacing: 0.03em;
    color: rgb(255, 251, 251);
    font-weight: bold;
    padding-top: 2.7rem;
    padding-bottom: 0.4rem;
  }

  .contactText {
    padding: 0.8rem 0;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
  }

  .emailText {
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
  }

  .socialCircles {
    display: flex;
    flex-direction: row;
    padding: 0 0 2rem 0;
  }

  .linkedinCircle {
    background-color: #fff;
    padding: 1.3rem;
    height: 4.3rem;
    width: 4.3rem;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
  }

  .linkedinCircle:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
  }

  .linkedinImage {
    height: 1.5rem;
    background: none;
    text-align: center;
    vertical-align: middle;
  }

  .githubCircle {
    background-color: #fff;
    padding: 1.15rem;
    height: 4.3rem;
    width: 4.3rem;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
  }

  .githubCircle:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
  }

  .githubImage {
    height: 2rem;
    background: none;
  }

  .dribbbleCircle {
    background-color: #fff;
    padding: 1.15rem;
    height: 4.3rem;
    width: 4.3rem;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
  }

  .dribbbleCircle:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
  }

  .dribbbleImage {
    height: 2rem;
    background: none;
  }

  .socialMedia div {
    margin: 0.4rem 1.1rem;
  }

  .copyRight {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
  }
}

/* screens smaller than 400px*/

@media only screen and (max-width: 400px) {
  .heroSection {
    margin-top: 2rem;
  }
  .heroContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .helloTitle {
    padding-top: 1.35rem;
    font-size: 1.5rem;
  }

  .fancyTitle {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.02em;
  }

  .jobTitle {
    font-size: 0.95rem;
    width: 70%;
    font-weight: 300;
    text-align: center;
    padding: 1rem 0;
  }

  .missionText {
    font-size: 0.8rem;
    padding-bottom: 1rem;
    color: #586066;
    letter-spacing: 0;
    text-align: center;
    width: 80%;
  }
  .mainImg {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: auto;
    display: block;
  }
  .resumeBtn {
    font-size: 0.7rem;
    padding: 0.7rem 0.9rem;
  }

  .calendlyBtn {
    font-size: 0.8rem;
  }
}
