@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
*{
    margin: 0px;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('./fonts/helvetica-neue-55-cufonfonts/HelveticaNeue-Light.otf');
}

/* mobile first */



.heroSection{
    margin-left: 1.5rem;
}

.helloTitle{
    font-size: 1.9rem;
    font-weight: bold;
}

.nameTitle{
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: .01em;
}

.fancyTitle{
    font-family: 'Rouge Script', cursive;
    font-size: 2.3rem;
    letter-spacing: .01em;

}

.missionText{
    padding-top: .5rem;
    font-size: .88rem;
    color: #60686d;
}

.mainImg{
    /* width: 300px; */
    border-radius: 5px;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.heroSection{
    margin-top: 3rem;
}

.resumeBtn, .connectBtn{
    font-size: .8rem;
    outline: none;
    letter-spacing: .02em;
    color: #fff;
    margin-top: .5rem;
    margin-bottom: 1.8rem;

}

.resumeBtn{
    background-color: #00a5f7;
    margin-right: 1.5rem;
    border: none;
    padding: .8rem;
    border-radius: 5px;
}

.resumeBtn:hover{
    border: 1px solid #00a5f7;
    background-color: #f4f4f4;
    color: #00a5f7;
    transition: .5s ease-out;

}

.connectBtn{
    border-radius: 6px;
    border: 1px solid #080420;
    padding: .8rem 1.35rem;
    background-color: #080420;
}

.connectBtn:hover{
    background-color: #f4f4f4;
    color: #080420;
    transition: .5s ease;

}


.horizLine{
    margin-top: 2.3rem;
    margin-left: 2.6rem;
    margin-right: 1.7rem;
}


/* For Dekstop Screens */

@media only screen and (min-width: 768px){

    ::-webkit-scrollbar {
        width: 7px;
    }
      
      /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
       
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #00a5f7; 
        border-radius: 5px;
    }
      
      /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #007fbe; 
    }

    .heroSection{
        margin-left: -4%;
        margin-top: 3.5rem;
    }

    .heroSection1{
        margin-top: 6rem;
    }

    .helloTitle{
        font-size: 3rem;
        font-weight: 500;
        letter-spacing: .02em;
    }

    .nameTitle{
        font-size: 3rem;
        font-weight: 500;
        letter-spacing: .02em;
    }

    .fancyTitle{
        font-family: 'Rouge Script', cursive;
        font-size: 4rem;
        letter-spacing: .02em;

    }

    .missionText{
        font-size: 1.1rem;
        color: #717A81;
        letter-spacing: .01em;
        
    }

    .resumeBtn{
        font-size: .9rem;
        outline: none;
        letter-spacing: .02em;
        margin-top: 1rem;

    }

    .resumeBtn{
        background-color: #00a5f7;
        margin-right: 2rem;
        border: none;
        padding: 1rem;
        border-radius: 5px;
    }

    .resumeBtn:hover{
        border: 1px solid #00a5f7;
        background-color: #f4f4f4;
        color: #00a5f7;
        transition: .5s ease;
    }

    .mainImg{
        height: 500px;
        width: auto;
        
    }

    .horizLine{
        margin-top: 4rem;
        margin-left: 12.5rem;
        margin-right: 15.2rem;
    }

    ::selection {
        color: #fff;
        background: #00a5f7;
    }

    .portfolio{

        margin: 4rem 12.3rem;
    }

    .latestTitle{
        color: #00a5f7;
        font-weight: bold;
        font-size: 1.9rem;
        padding-bottom: 1rem;
        letter-spacing: .03rem;
    }

    .caseTitle{
        color: #080420;
        font-size: 1.6rem;
        letter-spacing: .02rem;
    }

    .horizLine2{
        width: 96%;
    }

    
    

    /* .trial{
        position: absolute;
        width: 1532.25px;
        height: 596px;
        left: calc(50% - 1532.25px/2 + 0.5px);
        top: calc(50% - 596px/2);

        font-family: Syne;
        font-style: normal;
        font-weight: bold;
        font-size: 150.104px;
        line-height: 597px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #717A81;
        opacity: .1;

        mix-blend-mode: multiply;
    } */
    
}
