.avatar{
    height: 55px;
}

.navLinksArea{
    margin: 0 20px;
    
}

.navLink{
    color: #080420!important;
    padding: .9 0rem!important;
    font-size: .9rem;
}

.navLink:hover{
    color: #69bfe4!important;
    transition: .35s ease-in-out;
}

@media only screen and (min-width: 768px){
    .avatar{
        height: 55px;
        margin: 0 30px;
    }

    .navLinksArea{
        margin: 0 30px;
    }

    .navLink{
        color: #080420!important;
        padding: 0 2rem!important;
        font-size: 1rem;
        letter-spacing: .02em;
    }

    .navLink:hover{
        color: #69bfe4!important;
    }
}