.topNav{
    background: #ffffff;
}

.avatar{
    height: 55px;
}

.navLinksArea{
    margin: 0px 20px;
    background: none;
}

.navLink{
    color: #080420!important;
    padding: 1 0rem!important;
    font-size: 1rem;
    background: none;
}

.navLink:hover{
    color: #69bfe4!important;
    transition: .35s ease-in-out;
}

@media only screen and (min-width: 768px){
    .avatar{
        height: 55px;
        margin: 0 px;
        cursor: pointer;
    }

    .navLinksArea{
        margin: 0 0px;
    }

    .navLink{
        color: #586066!important;
        padding: 0 2rem!important;
        font-size: 1rem;
        letter-spacing: .02em;
    }

    .navLink:hover{
        color: #69bfe4!important;
    }
}