*{
    font-family: "GTWalsheim";
}

#light {
    background-color: #f3f3f7;
  }
  
#dark {
    background-color: #082032;
}

.topNavLight{
    background: #f3f3f7;
}

.topNav{
    background: #ffffff;

}

#dark

.topNavDark{
    background: #082032;
}

.avatar{
    height: 50px;
}

.navLinksArea{
    margin: 0px 20px;
    background: none;
}

.navLink{
    color: #1d1c1c!important;
    padding: 1 0rem!important;
    font-size: 1rem;
    background: none;
    font-weight: 500;
}


@media only screen and (min-width: 768px){
    .avatar{
        height: 60px;
        margin: 0 px;
        cursor: pointer;
    }

    .avatar:hover{
        transform: scale(1.05);
    }

    .navLinksArea{
        margin: 0 0px;
    }

    .navLink{
        color: #1d1c1c!important;
        margin: 0 1.2rem;
        font-weight: 500;
        font-size: 1rem;
        letter-spacing: .02em;
    }

    .navLink:hover{
        color: #52b8e4!important;
        transition: .25s ease-in-out;
    }
}

@media only screen and (min-width: 2050px) {
    .avatar{
        height: 100px;
        margin: 0 px;
        cursor: pointer;
    }

    .avatar:hover{
        transform: scale(1.1);
    }

    .navLink{
        color: #1d1c1c!important;
        margin: 0 2rem;
        font-weight: 500;
        font-size: 1.7rem;
        letter-spacing: .03em;
    }

}