#light {
  background-color: #f7f7f7;
}

#dark {
  background-color: #0a1d2c;
}

.toggleBtn {
  margin-top: .4rem;
}

#light #main h1 {
  color: #2b2a2a;
}

#dark #main h1 {
  color: rgb(235, 233, 233);
}

#dark #main h2 {
  color: rgb(226, 222, 222);
}

#dark #main h3 {
  color: rgb(226, 222, 222);
}

#dark #main h4 {
  color: rgb(226, 222, 222);
}

#dark #main h5 {
  color: rgb(226, 222, 222);
}
#dark #main p {
  color: rgb(226, 220, 220);
}

#dark p  {
 color: white;
}

#dark p:hover{
  color: #52b8e4!important;
  transition: .25s ease-in-out;
}

#dark .navbar-toggler{
  background-color: white;
}

#active{
  color: #52b8e4;
  font-weight: bold;
}

#dark #active{
  color: #f52d5f;
}

@media only screen and (min-width: 2050px) {
  .toggleBtn {
    margin-top: .8rem;
  }
}

@media only screen and (max-width: 1000px) {
  .toggleBtn {
    margin-top: 1rem;
    margin-left: .7rem;
    padding-bottom: 1rem;

  }
}

@media only screen and (max-width: 768px) {
  .toggleBtn {
    margin-top: 1.2rem;
    margin-left: 0rem;
    padding-bottom: 1rem;
  }
}

